#add-item-form {
  padding: 3%;
  text-align: center;
  /* font-family: "Roboto Slab"; */
}

#new-item-url {
  width: 100%;
  padding: 6px;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

#new-item-category-container {
  margin: 1%;
}

#new-item-category {
  margin: 1%;
}

#new-item-color-container {
  margin: 2%;
}

#new-item-color {
  margin: 1%;
}

#new-item-season-container {
  margin: 2%;
}

#new-item-season {
  margin: 1%;
}

#submit-button {
  width: 8%;
  text-align: center;
  border: none;
  background-color: rgb(63, 50, 50);
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}
